body {
  background-color: #333;
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  height: 100vh;
  overflow: hidden;
}

p {
  display: flex;
  right: 10px;
  position: fixed;
  z-index: 10;
  font-size: 1rem;
  color: #CCCCCC;
}

.guideWindow {
  position: absolute;
  color: rgb(209, 255, 110);
  top: 32%;
  left: 2%;
  font-size: 1vw;
  animation: guideWindow ease 5s 1 forwards;
  -webkit-animation: guideWindow ease 5s 1 forwards;
}

@keyframes guideWindow {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes guideWindow {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.popup {
  position: absolute;
  color: #CCCCCC;
  text-align: center;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 3s;
  visibility: hidden;
}

#playerName {
  font-family: 'Press Start 2P', cursive;
  border: none;
  width: 10%;
  text-align: center;
}

#scoreSubmit {
  color:aquamarine;
}

.inputButton {
  background: none;
  color:aqua;
  font-family: 'Press Start 2P', cursive;
  border: none;
}

.showPopup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
  cursor: auto;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}