body {
  background-color: #333;
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  height: 100vh;
  overflow: hidden;
}

p {
  display: flex;
  right: 10px;
  position: fixed;
  z-index: 10;
  font-size: 1rem;
  color: #808080;
}

.popup {
  position: absolute;
  color: #808080;
  text-align: center;
  left: 35%;
  top: 50%;
  visibility: hidden;
}

#playerName {
  font-family: 'Press Start 2P', cursive;
  border: none;
}

#scoreSubmit {
  background-color: #ff0000;
  color: #808080;
  font-family: 'Press Start 2P', cursive;
  border: none;
}

.showPopup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
}