body {
    background-color: #333;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    height: 100vh;
    text-align: center;
}

.nameWrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 0 4vw;
}

.footerWrapper {
    position: absolute;
    left:30%;
    bottom:19%
}

i {
    font-size: 3vw;
    color: #BFBFBF;
}

i:hover {
    color: #808080;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }