body {
  background-color: #333;
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s;
}

.escButton {
  background:none;  
  border-radius: 100%;
  border-style: none;
  color: #ff0000;
  height: 3vw;
  width: 3vw;
  margin: 2vw 0 0 2vw; /*Position it top left of screen */
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  text-shadow: 3px 3px rgb(31, 31, 31);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 100ms;
}

.escButton:before, .escButton:after {
  content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.escButton:hover {
	color: #ffe600;
	transition-delay: .35s;
}

.escButton:hover:before {
	transition-delay: 0s;
}

.escButton:hover:after {
	background: #ff0000;
	transition-delay: .35s;
}

.buttonCenter:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid #ff0000;
	border-left: 0;
	border-right: 0;
}

.buttonCenter:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: #ff0000;
}

.buttonCenter:hover:before {
	left: 0;
	width: 100%;
}

.buttonCenter:hover:after {
	top: 0;
	height: 100%;
}

#title {
  font-size: 8vw;
  color: #FF9800;
  text-align: center;
  text-shadow: 5px 5px rgb(31, 31, 31);
  margin: 0;
}

.buttonWrapper {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.pushable {
  background: #d27e00;
  border-radius: 100%;
  border: none;
  padding: 0;
  box-shadow: 5px 3px rgb(31, 31, 31); 
}

.front {
  display: flex;
  padding: 12px 42px;
  border-radius: 100%;
  font-size: 1.25rem;
  font-family: 'Press Start 2P', cursive;
  background: #FF9800;
  color: white;
  will-change: transform;
  transition: transform 250ms;
  transform: translateY(-4px);
  left: 50%;
  height: 6vw;
  width: 2vw;
  align-items: center;
  justify-content: center;
}

.pushable:hover .front {
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

#scoreButton {
  padding-top: 5vw;
  margin-left: 60%;
}

#startButton{
  height: 9vw;
  width: 5vw;
}

.popup {
  width: fit-content;
  background: rgb(31, 31, 31);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FF9800;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  border-radius: 2vw;
  border: 3px ridge black;
  padding: 0 2rem 2rem;
  visibility: hidden;
  transition: transform 800ms;
}

.showPopup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
}

.popup button {
  width: 30%;
  margin-top: 1em;
  opacity: 50%;
  color: rgb(190, 190, 190);
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;  
  background: none;
  border: none;
  outline: none;
  font-size: 2em;
}

#noButton:hover {
  opacity: 100%;
  color: #2fff00;
}

#yesButton:hover {
  opacity: 100%;
  color: #ff0000;
}


.bgAnimation {
  padding: 70px 0;
  min-height: 50vh;
  position: relative;
}

.shape img{
  position: absolute;
  width: 100%;
  z-index: -9;
}

.shape .shape1 {
  right: -160px;
  top: -700px;
  width: 400px;
  opacity: 50%;
  transform-origin: center;
  animation: shape ease 30s infinite;
}

.shape .shape2 {
  left: -100px;
  bottom: 400px;
  width: 500px;
  opacity: 60%;
  transform-origin: center;
  animation: shape linear 35s infinite reverse;
}

@keyframes shape {
  100%{
    transform: rotate(360deg);
  }
}

.shape .shape3 {
  top: 0;
  left: 0;
  width: 200px;
  opacity: 65%;
  transform-origin: center;
  animation: shape3 linear 40s infinite;
  transform: translate(-200px, -100px) rotate(0deg);
}

@keyframes shape3 {
  100% {
    transform: translate(1300px, -600px) rotate(360deg);
  }
}

.shape .shape4 {
  left: 250px;
  top: 50px;
  width: 150px;
  opacity: 40%;
  transform-origin: center;
  animation: shape4 linear 15s infinite 25s;
  transform: translate(700px, 80px) rotate(0deg);
}

@keyframes shape4 {
  100% {
    transform: translate(1200px, -710px) rotate(360deg);
  }
}

.shape .shape5 {
  left: 500px;
  top: -700px;
  width: 100px;
  opacity: 10%;
  transform-origin: center;
  animation: shape5 linear 30s infinite;
  transform: translate(0px, -150px) rotate(0deg);
}

@keyframes shape5 {
  100% {
    opacity: 100%;
    transform: translate(0px, 800px) rotate(720deg);
  }
}

.shape .shape6 {
  right: 0px;
  top: -700px;
  width: 250px;
  opacity: 10%;
  transform-origin: center;
  animation: shape5 linear 15s infinite reverse;
  transform: translate(-1080px, -100px) rotate(45deg);
}

@keyframes shape6 {
  100% {
    transform: translate(500px, 800px) rotate(180deg);
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}